In [1]:
library(datasets)
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [2]:
colnames(airquality) <- c("Ozono","Radiacion_solar","Viento","Temperatura","Mes", "Dia")
airquality["Viento"] <- round(airquality["Viento"]*1.60934,2)
airquality["Temperatura"] <- round((airquality["Temperatura"]-32)*5/9,1)
head(airquality)

  Ozono Radiacion_solar Viento Temperatura Mes Dia
1 41    190             11.91  19.4        5   1
2 36    118             12.87  22.2        5   2
3 12    149             20.28  23.3        5   3
4 18    313             18.51  16.7        5   4
5 NA     NA             23.01  13.3        5   5
6 28     NA             23.98  18.9        5   6

In [4]:
write.csv(airquality, file = "../data/nyc_calidad_aire.csv", row.names=FALSE)